.footer {
    background-color: #fff;
    padding: 20px 50px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.custom-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-section {
    width: 33.33%; /* Mimic col-md-4 */
}

.links-section {
    width: 66.66%; /* Mimic col-md-8 */
    text-align: right;
}

.custom-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.custom-nav li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #0061C0;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
    height: 40px;
}
