<footer class="footer">
  <div class="custom-container">
    <div class="custom-row">
      <div class="logo-section">
        <a class="navbar-brand" href="/accueil"><img [src]="logoPath" alt="Logo" class="logo"></a>
      </div>
      <div class="links-section">
        <ul class="custom-nav">
          <li *ngFor="let link of links">
            <a [routerLink]=[link.url]>{{ link.title }}</a>
          </li>
        </ul>
        <p>© 2023 Beach Rentals, an IM Group company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
