.navbar {
    background-color: #fff;
    .logo {
        width: 100px;
        height: 40px;
    }
}

.link-menu {
  position: relative;
}

.link-menu:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #0061C0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link-menu:hover:after {
  opacity: 1;
}

