@import '../src/assets/variable.scss';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/background1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar {
  width: 11px;
  background: #F5DEB3;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: #FFFFFF;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #0061C0;
}
